{% extends 'quizsystem/base.html' %}
{% block body %}


                        <h1 class="">Password Recovery</h1>
                        <p class="signup-link">Enter your email and instructions will sent to you!</p>
                        <form class="text-left" method="post" >
                            {% csrf_token %}
                                {{form}}
                             <input type="submit" name="Submit">

                        </form>                        
                        <p class="terms-conditions">© 2020 All Rights Reserved by QuizLobby.</p>
{% endblock %}